<%- include('includes/head'); %>
<body>

  <section class="container">
    <h1>keep moving forward</h1>
    <form action="/" method="post"> 
      <label>Send me your name:</label>
      <input type="text" name="client">
      <button>Submit</button>
    </form>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>