@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(0, 128, 0); /* Verde principal */
  --primary-color-darker: rgb(0, 100, 0); /* Verde mais escuro */
  --background-dark: rgb(10, 10, 10); /* Preto profundo */
  --text-light: rgb(200, 200, 200); /* Cinza claro para textos */
  --checkbox-bg: rgb(20, 30, 20); /* Fundo das checkboxes */
  --checkbox-border: var(--primary-color); /* Borda das checkboxes */
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-dark);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  color: var(--text-light);
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: var(--background-dark);
  border: 1px solid var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  color: var(--text-light);
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  background: rgb(20, 20, 20);
  color: var(--text-light);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: linear-gradient(45deg, var(--primary-color), var(--primary-color-darker));
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 5px;
  transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
}

form button:hover {
  background: linear-gradient(45deg, var(--primary-color-darker), var(--primary-color));
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.4);
}

.senha-gerada {
  font-size: 2em;
  color: var(--primary-color);
  margin: 40px 0;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  background: var(--checkbox-bg);
  border: 2px solid var(--checkbox-border);
  border-radius: 4px;
  transition: background 0.3s, border-color 0.3s;
}

input[type="checkbox"]:hover {
  background: var(--primary-color);
  border-color: var(--primary-color-darker);
}

input[type="checkbox"]:checked {
  background: var(--primary-color-darker);
  border-color: var(--primary-color);
}

button {
  display: block;
  margin: 40px 0;
  font-size: 1em;
  background: linear-gradient(45deg, var(--primary-color), var(--primary-color-darker));
  color: var(--text-light);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
}

button:hover {
  background: linear-gradient(45deg, var(--primary-color-darker), var(--primary-color));
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.4);
}
