<%- include('include/head')%>
<%- include('include/nav')%>


<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">

      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Amaro</td>
            <td>Barros</td>
            <td>81 9600-1998</td>
            <td>barrosvj06@gmail.com</td>
          </tr>
          <tr>
            <td>Marta</td>
            <td>Alencar</td>
            <td>81 9540-1345</td>
            <td>martagomes00@gmail.com</td>
          </tr>
          <tr>
            <td>Victória</td>
            <td>Barros</td>
            <td>81 9690-4586</td>
            <td>vicalencar09@gmail.com</td>
          </tr>
          <tr>
            <td>Conceição</td>
            <td>Barros</td>
            <td>81 9456-1056</td>
            <td>conceicao06@gmail.com</td>
          </tr>
        </table>
      </div>

    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>


<%- include('include/footer')%>